# ===============================
# Environment variables / secrets
# ===============================
.env
.env.*
*.env

# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ===============================
# ML / Model artifacts
# ===============================
*.pkl
*.joblib
catboost_info/
model/

# ===============================
# Node / Frontend
# ===============================
node_modules/
dist/

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/
